.container{
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
    height: 400px;
    width: 400px;
    justify-content: center;
    align-content: stretch;
    margin: auto;
    border: 15px solid red;

}
.row{
    display: flex;
    flex-direction:row;
    flex: auto;
    background-color: azure;
    border-right: 1px solid black;
    justify-content: stretch;
    align-items: stretch;



}
.grid{
    flex: auto;
    background-color: gray;
    border-bottom: 1px solid black;
    border-left: 1px solid black; 

}
.drawn{
    background-color: black;
}